#home {

  form {
    margin: 50px auto 0 auto;
    width: 400px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 20px;
    }

    input.location {
      display: block;
      margin-bottom: 20px;
      width: 200px;
      font-size: 24px;
      font-weight: bold;
    }

    input.submit {
      display: block;
      margin: 0;
    }
  }
}