#individual-job {
  width: 66%;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
    margin-bottom: 14px;
    line-height: 1.4;
  }

  p:last-child {
    margin-bottom: 0;
  }

  p.employer {
    margin-bottom: 0;
    font-weight: bold;
  }

  p.location {
    font-weight: bold;
  }

  .job-details {
    float: right;
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 0 0 10px 10px;
  }
}