@import "compass/utilities";
@import "compass/css3";

$midblue: #0063dc;

#search {
  @include clearfix;

  div.location-options {
    background-color: black;
    color: white;
    margin-bottom: 20px;
    padding: 5px;
    line-height: 24px;
    height: 24px;

    label {
      float: left;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
    }

    input {
      float: left;
    }
  }

  div.search-container {
    width: 66%;
    float: left;

    div.search-content {
      margin-left: 10px;
      background-color: #eee;
      border: 1px solid #ccc;
      @include border-radius(5px);

      div.query-options {
        @include clearfix;
        margin-bottom: 10px;

        form.query {
          float: left;
        }

        form.show-me-everything {
          float: left;
        }
      }

      div.full-time-options, div.permanent-options {
        @include clearfix;
        margin-bottom: 5px;

        form {
          float: left;

          input {
            padding: 5px 6px;
            margin: 0;
            border: none;
            color: black;
            background-color: #ccc;
            // font-weight: bold;
            @include border-radius(4px);
            text-decoration: none;
            cursor: pointer;
            margin-right: 5px;

            &:hover {
              background-color: darken(#eee, 20%);
            }
          }

          input[disabled="disabled"] {
            background-color: $midblue;
            color: white;

            &:hover {
              background-color: darken($midblue, 20%);
            }
          }

        }
      }

      table.search-results {
        width: 100%;
        font-size: 12px;

        thead {
          tr {
            border-bottom: 1px solid #ccc;
          }

          th {
            padding: 3px;
            font-weight: bold;
            font-size: 16px;
          }

          th.title {
            padding-left: 10px;
          }
        }

        tbody {

          td {
            padding: 3px 3px 3px 3px;
            line-height: 1.3;
          }

          td.title {
            padding-left: 10px;
          }

          span.title {
            font-size: 14px;
            font-weight: bold;
          }

          span.employer-name {
            color: #666;
            font-weight: bold;
          }

          tr {
            border-bottom: 1px solid #ccc;

            &:hover {
              background-color: yellow;
            }
          }
        }
      }
    }
  }

  div.jobs-list-container {
    width: 34%;
    position: fixed;
    right: 10px;
    top: 60px;
    // left: -10px;
    z-index: 1;

    div.jobs-list-content {
      padding: 10px 10px 10px 20px;
      border: 1px solid #666;
      background-color: white;
      @include border-radius(5px);
    }
  }

}
