<!DOCTYPE html>
<html>
  <head>
    <title>Jobs</title>
    <%= stylesheet_link_tag    "job", "http://demo.alphagov.co.uk/stylesheets/normalize.css", "http://demo.alphagov.co.uk/stylesheets/core.css" %>
    <%= javascript_include_tag "application" %>
  </head>
<body>
	<div id="wrapper" class="jobs">
  	<%= yield %>
	</div>
</body>
</html>
