<!DOCTYPE html>
<html>
  <head>
    <title>Jobs</title>
    <%= stylesheet_link_tag "job" %>
    <meta name="x-section-name" content="Jobs" />
    <meta name="x-section-link" content="jobs" />
    <%= yield :head %>
  </head>
<body>
	<div id="wrapper" class="jobs">
  	<%= yield %>
	</div>
</body>
</html>
